.container {
  background-color: black;
  color: antiquewhite;
  padding: 40px;
  border-radius: 10px;
}

.col img {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.btn-primary {
  background-color: antiquewhite;
  color: black;

}