.container {
  background-color: $second-color;
  color: $main-color;
  margin-top: 10px;
  padding: 40px;
  border-radius: 10px;

  .col img {
    @include imagenes(500px,600px,cover);
    border-radius: 10px;
  }

  
.btn-primary {
  background-color: $main-color;
  color: $second-color;
  border: solid $second-color 1px;
}

}



