.galeria {



  h1 {
    font-family: $font;
    text-decoration: underline;
    padding: 20px;
    font-size: 35px;

  }

  h2 {
    font-family:$font;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.galeria-img {
  padding: 25px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  object-fit: cover;
  gap: 20px;
  

}

}