.carousel-inner,
carousel-item,
carousel-item img {
    height: 700px;
    object-fit: cover;
}

.outdoor {
    background-color: $main-color;
    padding: 20px 10px;
    text-align: center;
    margin-top: 30px;

    h1 {
        font-family: $font;
        text-decoration: underline;
        font-size: 35px;
        display: flex;
        justify-content: left;
    }

    .outdoor-body {
        display: inline-block;
        width: 21%;
        background-color: $main-color;
        margin: 10px;
        position: relative;

        img {
            @include imagenes(350px, 100%, cover);
            transition: .5s;
            border: solid rgb(241, 238, 238) 0.3px;
            border-radius: 5%;

            &:hover {
                height: 400px;
                box-shadow: 5px 5px 15px 0px;
            }

        }

        .new {
            background-color: rgba(250, 235, 215, 0.271);
            padding: 5px;
            position: absolute;
            top: 10px;
            font-family: $second-font;
            font-size: 18px;
            font-weight: bold;
            border: solid rgba(0, 0, 0, 0.378) 0, 1px;
            border-radius: 10px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.527);
                color: $main-color;
                border: solid rgba(0, 0, 0, 0.378) 0, 1px;
                border-radius: 10px;
            }
        }

    }

}


.soy-camila {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;

    img {
        @include imagenes(480px, 100%, cover);
        display: flex;

    }
}

.indoor {
    background-color: $main-color;
    padding: 20px 10px;
    text-align: center;

    .indoor-body {
        display: inline-block;
        width: 21%;
        background-color: $main-color;
        margin: 10px;
        position: relative;

        img {
            @include imagenes(350px, 100%, cover);
            transition: .5s;
            border: solid rgb(241, 238, 238) 0.3px;
            border-radius: 5%;

            &:hover {
                height: 400px;
                box-shadow: 5px 5px 15px 0px;
            }
        }

        .new {
            background-color: rgba(250, 235, 215, 0.271);
            padding: 5px;
            position: absolute;
            top: 10px;
            font-family: $second-font;
            font-size: 18px;
            font-weight: bold;

            &:hover {
                background-color: rgba(0, 0, 0, 0.527);
                color: $main-color;
                border: solid rgba(0, 0, 0, 0.378) 0, 1px;
                border-radius: 10px;
            }
        }
    }
}


.descuento {
    background-color: $second-color;
    color: $main-color;
    font-family: $font;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;

    a {
        color: $main-color;
        font-size: 60px;
        font-weight: bold;
        margin-top: 50px;
        padding: 15px;
    }
}