.sesiones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;

  .card {
    width: 900px;
    height: 550px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: solid black 1px;

    img {
      width: 600px;
      height: 500px;
      object-fit: cover;
      border-radius: 10px;
    }

}

.card-body h2 {
  font-family: $font;
}

.card-body p {
  font-family: $second-font;
  font-size: 20px;
  font-weight: bold;
}
.card-body a {
  background-color: $second-color;
  color: $main-color;
  width: 100px;
  height: 40px;
  border: solid $second-color 1px;
  border-radius: 5px;
  font-family: $font;
  font-size: 20px;

}
.btn-primary:hover {
  background-color: $main-color;
  color: $second-color;
  border: solid 1px $second-color;
}

}




